@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700;900&display=swap')

@require ('./src/stylus/select-radio')

@require ('./src/stylus/_alt-style-1-vars')
@import ('./src/stylus/theme')

@require ('./src/stylus/_alt-style-2-vars')
@import ('./src/stylus/theme')

html
  min-height 100%

body
  height 100%
  background linear-gradient(45deg, rgba(102, 51, 153, 0.3) 0%, rgba(192, 255, 238, 0.3) 100%) no-repeat
  font-family 'Noto Sans', sans-serif
  color rebeccapurple

section 
  display flex
  flex-direction column
  align-items center
  padding-top 100px

h1
  font-size 3rem
  font-weight 900
  margin-bottom .25rem

p
  font-size 1.4rem
  line-height: 1.2
  font-weight 400
  text-align center
  text-wrap balance
  margin-top 0
  margin-bottom 1rem
  max-width 70ch
  
a
  color rebeccapurple

.hashtags
    margin-bottom 6rem

    span
      display inline-flex
      align-items center
      padding .175em .5em
      background-color rebeccapurple
      color #c0ffee
      border-radius 100px

.container 
  display flex
  gap 1rem

.by-octoy
  margin-top 9rem

.nowrap
  white-space nowrap