$themeClass = '.alt-style-2'

$select-width = 200px
$select-paddingTop = .25em
$select-paddingRight = .5em
$select-paddingBottom = .25em
$select-paddingLeft = .5em
$select-bgColor = rebeccapurple
$select-color = #c0ffee
$select-selected-bgColor = $select-color
$select-fontSize = 1.5rem
$select-fontFamily = 'Noto Sans', sans-serif
$select-fontWeight = 700
$select-selected-color = $select-bgColor
$select-borderWidth = 4px
$select-borderColor = $select-bgColor
$select-selected-borderColor = $select-selectedcolor
$select-borderRadius = 'calc((%s + %s + %s + 2 * %s) / 2)' % ((($select-fontSize==0)?0px:$select-fontSize) (($select-paddingTop==0)?0px:$select-paddingTop) (($select-paddingBottom==0)?0px:$select-paddingBottom) (($select-borderWidth==0)?0px:$select-borderWidth))

$option-padding = .5em
$option-bgColor = $select-bgColor
$option-hover-bgColor = dark($option-bgColor) ? lighten($option-bgColor, 10) : darken($option-bgColor, 10)
$option-selected-bgColor = $option-hover-bgColor
$option-fontSize = 0.8 * $select-fontSize
$option-fontFamily = $select-fontFamily
$option-fontWeight = 400
$option-color = $select-color
$option-hover-color = $option-color
$option-selected-color = $option-hover-color
$option-borderWidth = 0
$option-borderColor = $option-hover-bgColor
$select-selected-option-bgColor = $option-bgColor
$select-selected-option-hover-bgColor = dark($select-selected-option-bgColor) ? lighten($select-selected-option-bgColor, 10) : darken($select-selected-option-bgColor, 10)
$select-selected-option-color = $option-color
$select-selected-option-hover-color = $select-selected-option-color
$select-selected-option-borderColor = $select-selected-option-hover-bgColor

$options-borderWidth = 0
$options-borderColor = $option-bgColor
$options-borderRadius = $select-borderRadius
$options-floatingDistance = .25rem
$options-boxShadowColor = $options-borderColor
$options-boxShadow = 0px 0.5px 0.7px rgba($options-boxShadowColor, 0.031),
  0px 0.9px 1.7px rgba($options-boxShadowColor, 0.027),
  0px 1.3px 3.1px rgba($options-boxShadowColor, 0.019),
  0px 2px 5.6px rgba($options-boxShadowColor, 0.016),
  0px 3.2px 10.4px rgba($options-boxShadowColor, 0.024),
  0px 5px 25px rgba($options-boxShadowColor, 0.07)
$options-transitionDuration = .1s
$options-transitionFunction = ease-in-out
$select-selected-options-borderColor = $select-selected-option-bgColor
$select-selected-options-boxShadowColor = $select-selected-options-borderColor
$select-selected-options-boxShadow = 0px 0.5px 0.7px rgba($select-selected-options-boxShadowColor, 0.031),
  0px 0.9px 1.7px rgba($select-selected-options-boxShadowColor, 0.027),
  0px 1.3px 3.1px rgba($select-selected-options-boxShadowColor, 0.019),
  0px 2px 5.6px rgba($select-selected-options-boxShadowColor, 0.016),
  0px 3.2px 10.4px rgba($select-selected-options-boxShadowColor, 0.024),
  0px 5px 25px rgba($select-selected-options-boxShadowColor, 0.07)